manifests/sentimentr-manifest.yml
config/dev.yml
config/private.yml
releases/*.tgz
dev_releases
.blobs
blobs
.dev_builds
.DS_Store
.final_builds/jobs/**/*.tgz
.final_builds/packages/**/*.tgz
*.swp
*~
*#
#*
src/sentimentr-service/target/*
src/sentimentr-service-broker/build/*
src/sentimentr-service-broker/bin/*
latest.tgz
.classpath
.project
.settings
.springBeans
.gradle
sentimentr-client/sentimentr-ui/target/*
sentimentr-client/sentimentr-connector/target/*
.DS_Store
*/.classpath
*/.project
*/.settings
*/.springBeans
src/sentimentr-service/.settings/org.eclipse.m2e.core.prefs
releases/sentimentr-release/sentimentr-release-*.tgz
tmp
sentimentr.pivotal
